@model IEnumerable<DepartmentDto>
@{
    ViewData["Title"] = "Index";
}

<h1 class="my-3">All Departments</h1>
<a class="btn btn-primary my-3" asp-controller="Department" asp-action="Create">Create Department</a>

@if (Model.Any())
{
    <table class="table table-hover">
        <thead class="text-center">
            <tr>
                <th>@Html.DisplayNameFor(d => d.Code)</th>
                <th>@Html.DisplayNameFor(d => d.Name)</th>
                <th>@Html.DisplayNameFor(d => d.Description)</th>
                <th>@Html.DisplayNameFor(d => d.DataOfCreation)</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach(var department in Model)
            {
                <tr>
                    <td>@department.Code</td>
                    <td>@department.Name</td>
                    <td>@department.Description</td>
                    <td>@department.DataOfCreation</td>
                    <td><a class="btn btn-primary" asp-action="Details" asp-route-id="@department.Id"><i class="fas fa-eye"></i> Details</a></td>
                    <td><a class="btn btn-success" asp-action="Edit" asp-route-id="@department.Id"><i class="fas fa-edit"></i> Edit</a></td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@department.Id">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                        <!-- Delete Modal -->
                        <div class="modal fade" id="deleteModal-@department.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Department</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are You Sure to Delete The Department With Name @department.Name ?
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" asp-action="Delete" asp-controller="Department" asp-route-id="@department.Id" class="mt-4">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info mt-2">
        <h2>No Departments Found!!</h2>
    </div>
}

